body {
  padding-top: 5rem;
}

.SteerSlider {
  & .rangeslider {
    height: 10px;
    background-color: lightgrey;

    .rangeslider__fill {
      background-color: lightgrey;
    }

    & .rangeslider__handle {
      background-color: green;
      width: 30px;
      height: 30px;
      left: -13px;
      border-radius: 50%;
      box-shadow: 0 1px 1px #333;
    }
    & :after {
      display: none;
    }
  }
}
