body {
  padding-top: 5rem;
}

.invoice-container {
  padding: 3rem 1.5rem;
}

.invoice-row {
   line-height: 50px;
}

.invoices__invoice-id-text {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.collapsible-panel__title {
  display: inline;
  vertical-align: middle;
  margin-right: 10px;
}

.collapsible-panel {
  background-color: #F0F0F0;
  margin-bottom: 10px;
}

.collapsible-panel__inner-panel {
  padding: 10px;
}

.collapsible-panel__header {
  background-color: lightblue;
  margin-bottom: 10px;
  padding: 10px;
}

.collapsible-panel__header {
  background-color: lightblue;
  margin-bottom: 10px;
  padding: 10px;
}
